<% cache filepaths + file_timestamps do %>
  <% all_lines = [] %>
  <% content_for :code do %>
    <% grouped_filepaths.each do |language, filepaths| %>
      <details class="py-2" open>
        <% language_lines = [] %>
        <% content_for language do %>
          <div>
            <% filepaths.each do |filepath| %>
              <% lines = file_lines(filepath) %>
              <% language_lines.concat lines %>
              <% all_lines.concat lines %>
              <%== render_gist language, lines.join %>
            <% end %>
          </div>
        <% end %>
        <summary>
          <span style="min-width:75px;"><%= language_title language %></span>
        </summary>
        <%= content_for language %>
      </details>
    <% end %>
  <% end %>

  <h4>Code</h4>
  <div>
    <%= content_for :code %>
  </div>
<% end %>
